.card-header,
.btn {
  background-image: linear-gradient(to bottom right, teal, teal, orange);
  color: whitesmoke;
  font-family: "Allerta Stencil", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.btn {
  background-image: linear-gradient(to bottom right teal, orange);
  border: none;
}

table {
  font-size: 0.9rem;
}
th {
  color: teal;
}
.cntr-txt {
  text-align: center;
}
h1,
h3 {
  font-family: "Allerta Stencil", sans-serif;
  color: teal;
}
h1 {
  color: orange;
  font-weight: bold;
}

.faded {
  opacity: 0.5;
}
.hurry {
  color: darkred;
  font-weight: bold;
  background: rgba(238, 47, 47, 0.123);
}
.getready {
  color: orange;
  font-weight: bold;
  background: rgba(250, 199, 89, 0.171);
}
