.card-header,
.btn {
  background-image: linear-gradient(to bottom right, teal, teal, orange);
  color: whitesmoke;
  font-family: "Allerta Stencil", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

.btn {
  background-image: linear-gradient(to bottom right teal, orange);
  border: none;
}
body {
  background-image: linear-gradient(to bottom, paleturquoise, ivory);
}
.p-2 {
  margin: 0;
  padding: 0;
}

.jumbotron {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  background-color: teal;
}


.card {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
table {
  font-size: 0.9rem;
}
th {
  color: teal;
}
tr:hover {
  /* font-weight: bold; */
}
tfoot {
  border-top: 2px solid teal;
}

.cntr-txt {
  text-align: center;
}
h1,
h3 {
  font-family: "Allerta Stencil", sans-serif;
  color: teal;
}
h1 {
  color: white;
  font-weight: bold;
}

.faded {
  opacity: 0.5;
  background: rgba(128, 123, 123, 0.123);
}
.hurry {
  color: darkred;
  font-weight: bold;
  background: rgba(238, 47, 47, 0.123);
}
.getready {
  color: orange;
  font-weight: bold;
  background: rgba(250, 199, 89, 0.171);
}
